body {
  margin: 0;
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  overflow: scroll; /* Show scrollbars */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.clickable {
  cursor: pointer;
}

main img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto
}

.nav.nav-tabs {
  margin: 0 0 1em 0;
  background-color: rgb(245, 245, 245);
  border-radius: 1em;
  padding: 0.25em 0 0 0;
}

.container-bordered {
  background-color: rgb(250, 250, 250);
  border: 1px rgb(211, 211, 211);
  border-style: groove;
  border-radius: 1em;
  padding: 2em;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 0.25em;
}

.table-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
  margin: 0 0 1em 0;
}

.search-bar{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1em;
}

.search-bar * {
  margin: 0;
}

.table-paginated {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  min-height: 30em;
}

.table-paginated-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}