body {
  margin: 0;
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.clickable {
  cursor: pointer;
}

main img{
  width: 100px;
  height: 80px;
  display: block;
  margin: auto
}

.nav.nav-tabs {
  margin: 1em 0;
  background-color: rgb(245, 245, 245);
  border-radius: 1em;
  padding: 0.25em 0 0 0;
}

.container-bordered {
  border: dashed 1px black;
  border-radius: 1em;
  padding: 2em;
  min-height: 30em;
}

.table-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 2em;
}

.table-filters {
  width: 10em;
}

.table-paginated {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  min-height: 30em;
}